@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --basic-grey-light: #E5E5E5;
  --brighter-special-yellow-dark: #FFC600;
  --special-green: #91C92F;
  --footer: #363636;
  --basic-grey: #D9D9D9;
  --modal-input-bckrd: #F2F2F2;
  --dot-range-grey: #C4C4C4;
}


/*Global*/


html {
  height: 100%;
}


body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


a {
  text-decoration: none;
  color: var(--basic-black);
}


img {
  max-width: 100%;
  height: auto;
}


ul {
  list-style: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.nav-header-bar {
  background: linear-gradient(to bottom, transparent 20px, #F7E296 20px);
  width: 1160px;
  margin: auto;
  margin-top: 20px;
}


.dropdown-catalog-menu {
  display: flex;
  position: absolute;
  width: 1160px;
  box-sizing: border-box;
  padding: 0 60px margin: 0 140px;
  left: 0;
  flex-flow: column wrap;
  background: var(--special-yellow);
  position: absolute;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: initial;
  text-transform: initial;
  z-index: 100;
}


.dropdown-catalog-menu li {
  margin-bottom: 20px;
}


.dropdown-catalog-menu li:hover {
  opacity: 0.6;
}


.dropdown-catalog-menu li:active {
  opacity: 0.3;
}



.wrapper {
  padding: 0 60px;
}

.nav-wrapper {
  margin: 0 auto;
  padding: 0 60px;
}


.logo {
  margin-bottom: 14px;
}


.nav-user {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}


.search {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.nav-user li:nth-child(2),
.nav-user li:nth-child(3),
.nav-user li:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.nav-user li:nth-child(4) {
  justify-self: end;
}


.nav-user li:nth-child(3) {
  justify-self: end;
  margin-right: 123px;
}


.search {
  position: relative;
  padding-left: 38px;
}


.search:before {
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 0;
  position: absolute;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}


.user-item {
  position: relative;
  padding-left: 24px;
}


.user:before,
.log:before {
  content: "";
  width: 13px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}


.compare:before {
  content: "";
  width: 14px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}


.cart:before {
  content: "";
  width: 14px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}



.nav-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}


.catalog {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.nav-main li:nth-child(2),
.nav-main li:nth-child(3),
.nav-main li:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.nav-main li:nth-child(3) {
  margin-left: 160px;
}


.nav-main li:nth-child(4) {
  justify-self: end;
}


.user-item:hover {
  opacity: 0.6;
}


.user-item:active {
  opacity: 0.3;
}


.catalog {
  position: relative;
  padding-right: 50px;
}


.catalog:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  right: 19px;
  background: url(../img/catalog_expand.svg);
}


.nav-main,
.button,
.catalog {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


.nav-main-item:hover,
.catalog:hover {
  opacity: 0.6;
}


.nav-user li:hover .dropdown-catalog-menu {
  display: block;
}


.nav-main-item:active,
.catalog:active {
  opacity: 0.3;
}


input[type="search"] {
  border: none;
  background: none;
  font-weight: 300;
  outline: none;
}


input[type="search"]::placeholder {
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}


input[type="search"]:hover::placeholder {
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.6;
}


.search-button:after {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  left: 0;
  bottom: -14px;
  background: var(--basic-black);
}


.search-button {
  outline: none;
  position: absolute;
  right: -237px;
  bottom: -14px;
  background: none;
  border: none;
  font: inherit;
  border: 2px solid #000000;
  box-sizing: border-box;
  width: 84px;
  height: 50px;
}


.search-button:hover {
  color: var(--basic-white);
  background: var(--basic-black);
}


.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}


.logo:hover,
.logo-footer:hover,
.logo-copyright:hover {
  opacity: 0.6;
}


.logo:active,
.logo-footer:active,
.logo-copyright:active {
  opacity: 0.3;
}


.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  position: relative;
  z-index: 100;
}


.button:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  top: calc(50% - 4px);
  z-index: -1;
  left: 0;
  transition: all 0.2s ease-out;
}


.button:hover:before {
  height: 100%;
  top: 0;
  transition: all 0.2s ease-out;
}


.button:active {
  color: rgba(0, 0, 0, 0.3);
}


.service-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: none;
}


.service-info img {
  position: relative;
  top: 0;
}


.service-info h2 {
  letter-spacing: 0.2em;
  margin: 3px 0 40px 0;
  padding: 0;
}


.service-current {
  display: flex;
}


.service-buttons {
  position: relative;
}


.buttons-wrapper {
  margin-top: 80px;
}


.service-buttons:after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -62px;
  width: 7px;
  height: 320px;
  background: var(--basic-black);
}


.service-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 160px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}


.service-button:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  position: absolute;
  top: calc(50% - 4px);
  z-index: -1;
  left: 0;
  transition: all 0.2s ease-out;
}


.service-button:hover:before {
  height: 100%;
  top: 0;
  transition: all 0.2s ease-out;
}


.service-button:active {
  color: var(--special-yellow);
}


.service-button:active:before {
  background-color: var(--basic-black);
  width: 284px;
}


.service-button.current {
  color: var(--special-yellow);
}


.service-button.current:before {
  background-color: var(--basic-black);
  width: 284px;
  height: 100%;
  top: 0;
}


.services-wrapper {
  height: 388px;
  background: linear-gradient(to bottom, transparent 100px, #E5E5E5 100px);
  margin-bottom: 90px;
}


.service-sliders {
  margin: 0;
  padding: 0;
}


.services {
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 116px;
}


.service-buttons {
  padding: 0;
  margin: 0;
}

.service-info {
  margin-top: 68px;
  height: 320px;
}


.brands {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  justify-content: space-between;
}


.brands-wrapper {
  margin-bottom: 90px;
}


.dji {
  filter: grayscale(100%);
  opacity: 0.2;
}

.spgadgets {
  filter: grayscale(100%);
  opacity: 0.2;
}

.gopro {
  filter: grayscale(100%);
  opacity: 0.2;
}


.vive {
  filter: grayscale(100%);
  opacity: 0.2;
}


.dji:hover {
  filter: none;
  opacity: 1;
}

.spgadgets:hover {
  filter: none;
  opacity: 1;
}

.gopro:hover {
  filter: none;
  opacity: 1;
}


.vive:hover {
  filter: none;
  opacity: 1;
}


footer {
  background: var(--footer);
  padding: 46px 0 65px 0;
}


.nav-main-item-ftr a,
.adress,
.phone {
  color: var(--basic-white);
}


.nav-main-item-ftr:hover {
  opacity: 0.6;
}


.nav-main-item-ftr:active {
  opacity: 0.3;
}

.user-item.ftr {
  color: rgba(255, 255, 255, 0.7);
}





h1,
h2,
h3 {
  font-size: 47px;
  line-height: 58px;
}


.desc,
.adress,
.phone {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}


/* Catalog */


.container-catalog {
  width: 1040px;
  margin: auto;
  padding: 0;
}


.nav-header-bar.item-page {
  margin-bottom: 44px;
}


.catalog-heading {
  margin-bottom: 30px;
}


.breadcrumb a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  background: none;
  border: none;
  opacity: 0.3;
}


.breadcrumb a:hover {
  opacity: 0.6;
}


.breadcrumb a:active {
  opacity: 0.1;
}


.breadcrumb.current a {
  cursor: initial;
}


.breadcrumb.current a:hover {
  opacity: 0.3;
}


.breadcrumb.current a:active {
  opacity: 0.3;
}


label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 38px;
}


.pagination {
  display: flex;
  background: var(--basic-grey-light);
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between;
  margin: 0 0 78px 72px;
  padding: 0;
}


.page-numeration {
  display: flex;
  flex-wrap: wrap;
}


.page-number {
  align-self: center;
  margin-right: 30px;
  opacity: 0.3;
}


.page-number:hover {
  opacity: 0.6;
}


.page-number.current,
.page-number:active {
  opacity: 1;
}


.control {
  box-sizing: border-box;
  display: block;
  padding: 25px 30px;
  font: inherit;
  letter-spacing: 0.1em;
}


.control:hover {
  background: var(--basic-grey);
}


.control:active {
  opacity: 0.3;
}


.user-item.logout,
.user-item.logout:active {
  opacity: 0.3;
}


.user-item.logout:hover {
  opacity: 0.6;
}


.container {
  width: 1160px;
  margin: auto;
  padding: 0;
}


.promoblock {
  position: relative;
  padding: 0;
  margin: auto;
  width: 1160px;
}


.slider {
  line-height: 20px;
}


.sliders {
  padding: 0;
  margin: 0;
}


.slider-head {
  margin-bottom: 30px;
  margin-top: 82px;
}


.slider-head:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background: var(--basic-white);
  top: 20px;
}


.slider-item .button {
  width: 220px;
  margin-bottom: 30px;
}


.slider-controls {
  position: absolute;
  display: flex;
  width: 72px;
  justify-content: space-between;
  bottom: 150px;
  right: 88px;
}


.slider-controls button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}


.slider-controls .current:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 3px;
  left: 3px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}


.slider-item {
  counter-reset: slider;
}


.slider-item::before {
  position: absolute;
  right: 48px;
  top: -28px;
  counter-increment: slider;
  content: "0"counter(slider);
  color: var(--basic-white);
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
}


.slider-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background: linear-gradient(to bottom, #F7E296 118px, transparent 118px);
  margin-bottom: 96px;
}


.slider-img {
  justify-self: center;
  align-self: center;
}


.slider-info p {
  margin-bottom: 50px;
}


.slide {
  display: none;

}


.slide-current {
  display: grid;
}



.footer-nav {
  display: grid;
  grid-template-rows: 20px 1fr;
  margin-bottom: 40px;
}


.footer-nav div:nth-child(2) {
  justify-self: end;
  vertical-align: bottom;
}


.logo-footer {
  padding: 0;
  margin: 0;
  order: 1;
  justify-self: start;
}


.nav-user-footer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  padding: 0;
  margin: 0;
}


.nav-user-footer li:not(:last-child) {
  margin-right: 40px;
}


.log.ftr:before {
  content: "";
  width: 13px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/user_footer.svg");
  background-repeat: no-repeat;
}


.user.ftr:before {
  content: "";
  width: 13px;
  height: 14px;
  top: 5px;
  left: 3px;
  position: absolute;
  background-image: url("../img/log__user_footer.svg");
  background-repeat: no-repeat;
}


.compare.ftr:before {
  content: "";
  width: 14px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/compare_footer.svg");
  background-repeat: no-repeat;
}


.cart.ftr:before {
  content: "";
  width: 14px;
  height: 14px;
  top: 6px;
  left: 3px;
  position: absolute;
  background-image: url("../img/cart_footer.svg");
  background-repeat: no-repeat;
}


.cont-info {
  display: grid;
  grid-template-columns: 333px 1fr 333px;
  margin-bottom: 68px;
}


.adress {
  padding: 0;
  margin: 0;
}


.nav-main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


.nav-main-item-ftr:not(:last-child) {
  margin-right: 36px;
}


.phone {
  padding: 0;
  margin: 0;
  order: 1;
  justify-self: end;
}


.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.footer-rectangle {
  content: "";
  width: 80px;
  height: 7px;
  background: #FFC600;
  margin-top: 13px;
}


.socials {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}


.social-item:not(:last-child) {
  margin-right: 20px;
}




.logo-copyright {
  padding: 0;
  margin: 0;
  margin-left: 55px;
  justify-self: end;
}


.social-item:hover {
  opacity: 0.6;
}


.social-item:active {
  opacity: 0.3;
}


.catalog-page {
  width: 100%;
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 45%, #E5E5E5 50%, #E5E5E5 100%);
}


.catalog-page-wrapper {
  width: 1100px;
  margin: 0 auto;
  padding-left: 60px;
  display: flex;
}


.catalog-body {
  width: 100%;
  background: linear-gradient(to right, #E5E5E5 0%, #E5E5E5 45%, #fff 50%, #fff 100%);
}


.filter-title {
  width: 294px;
  padding-top: 25px;
  background: #dbdbdb;
}


.catalog-body-filter,
.filter-title,
.sorting-title {
  box-sizing: border-box;
}


.catalog-body-filter {
  padding-right: 68px;
  padding-top: 70px;
  background: var(--basic-grey-light);
}


.sort {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}


.sort-item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background: none;
  border: none;
  opacity: 0.3;
  margin-right: 30px;
}


.sort-item:hover {
  opacity: 0.6;
}


.sort-item:active,
.sort-item.current {
  opacity: 1;
}


.item-sort {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 72px;
  padding-bottom: 10px;
  width: 832px;
  background: var(--basic-grey-light);
}


.catalog-list {
  background: var(--basic-white);
}


.filter-title,
.sorting-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}


.sorting-title {
  padding-top: 25px;
  margin-right: 32px;
}


.button.show,
.button.add-to-cart {
  outline: none;
  border: none;
  background: none;
  width: 200px;
  font-style: normal;
  font-weight: 800;
}


.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.breadcrumb {
  position: relative;
  margin-right: 40px;
  margin-bottom: 50px;
}


.breadcrumb:before,
.breadcrumb:after {
  content: "";
  display: block;
  width: 5px;
  height: 1.5px;
  position: absolute;
  background: var(--basic-black);
  opacity: 1;
  right: -24px;
}


.breadcrumb:before {
  transform: rotate(45deg);
  top: 8px;
}


.breadcrumb:after {
  transform: rotate(-45deg);
  top: 11px;
}


.breadcrumb.current:before,
.breadcrumb.current:after {
  display: none;
}


.features {
  font-weight: 300;
  display: grid;
  grid-template-areas:
    "feature-value"
    "feature-name";
  max-width: 444px;
}


.feature-value {
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}


.feature-name {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}


.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
  margin: 70px 0 0 72px;
}


.products li {
  position: relative;
  margin-bottom: 22px;
}


.product-picture {
  margin-bottom: 12px;
}


.new-product:after {
  content: "";
  position: absolute;
  background: url("../img/new_mark.svg");
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
}


.product-info {
  display: grid;
  grid-template-columns: 270px 1fr;
}

.product-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}


.price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  font-weight: 300;
  justify-self: end;
  padding-top: 5px;
}


.product-controls {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 360px;
  height: 380px;
  background: rgba(238, 238, 238, 0.7);
}


.product-controls:hover {
  opacity: 1;
  transition: 0.3s;
}


.button.add-to-cart {
  outline: none;
  border: none;
  background: none;
  width: 200px;
  font-style: normal;
  font-weight: 800;
  margin: 170px 80px 10px;
}


.add-to-comparison {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  width: 180px;
  background: none;
  border: red;
  outline: none;
  opacity: 0.5;
  margin: 0 90px;
}


.add-to-comparison:hover {
  opacity: 1;
}


.add-to-comparison:active {
  opacity: 0.2;
}


.catalog-body-filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


.goods-nav {
  padding: 0;
  margin: 0;
  margin-bottom: 69px;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: space-between;
}

.goods {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}


.goods-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--special-yellow);
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
}


.goods-img:hover {
  background: var(--special-yellow-dark);
}


.goods:active p,
.goods:active svg {
  opacity: 0.3;
}


.range-filter {
  margin: 40px 0;
}


.range-controls {
  position: relative;
}


.scale {

  height: 2px;
  background: #d7dcde;
}


.bar {
  height: 2px;
  width: 70%;
  background: var(--special-green);
}


.toggle {
  outline: none;
  position: absolute;
  top: -9px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background: var(--dot-range-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}


.toggle-min {
  left: 0px;
}


.toggle-max {
  left: 110px;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 8px;
}


.filter-checkbox input+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  border-radius: 2px;
}


.filter-checkbox input:checked+label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -34px;
  width: 14px;
  height: 11px;
  background: url("../img/check_mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-radio input+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  border-radius: 50%;
}


.filter-radio input:checked+label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -30px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-option label:hover::before,
.filter-option label:hover::after,
.filter-radio input:checked+label:active::before {
  opacity: 0.6;
}


.filter-option label:active::before,
.filter-option label:active::after {
  opacity: 1;
}


.filter-options {
  margin-bottom: 30px;
}


.filter-item-heading {
  position: relative;
  padding-top: 14px;
  margin-bottom: 15px;
}


.filter-item-heading:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  top: 0;
  background: #000000;
}



.up-triangle:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 36px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #000;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 0;
}


.down-triangle:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #000;
  background-repeat: no-repeat;
  background-position: 0 0;
}


.up-triangle:hover,
.down-triangle:hover {
  opacity: 0.4;
}


.up-triangle:active,
.down-triangle:active {
  opacity: 1;
}



.about-title,
.contacts-title {
  position: relative;
  padding-top: 68px;
  letter-spacing: 0.2em;
  margin-top: 0;
}


.about-title:before,
.contacts-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 80px;
  height: 7px;
  background: var(--basic-black);
}


.about {
  display: grid;
  grid-template-columns: 473px auto;
  gap: 127px;
  margin-bottom: 86px;
}


.about p {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 28px;
}


.about p:nth-child(2) {
  margin-bottom: 40px;
}


.about-us p:nth-child(3) {
  margin-bottom: 60px;
}


.about-us .button {
  margin-top: 64px;
}


.about .button {
  width: 260px;
}

.contacts .button {
  margin-top: 84px;
}


.delivery-partners {
  padding: 0;
  line-height: 28px;
}


.partner {
  position: relative;
  margin-bottom: 16px;
  padding-left: 40px;
}


.partner:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
}


.info {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 101;
}


.label-form {
  display: block;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}


input[type="text"],
input[type="email"] {
  display: block;
  width: 340px;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background: var(--modal-input-bckrd);
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 20px;
}


input[type="text"]:hover,
input[type="email"]:hover {
  background: #EAEAEA;
}


input[type="text"]:focus,
input[type="email"]:focus {
  background: transparent;
}


.button.submit {
  outline: none;
  border: none;
  background: none;
  width: 200px;
  font-style: normal;
  font-weight: 800;
}


.submit:before {
  background: var(--special-yellow);

}


.modal-feedback {
  background: var(--basic-white);
  width: 760px;
  top: 100px;
  bottom: auto;
  padding: 92px 100px 69px 100px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}


.letter textarea {
  width: 740px;
  font-size: 14px;
  line-height: 19px;
  height: 167px;
  padding-top: 16px;
  padding-left: 20px;
  margin-bottom: 54px;
  border: none;
  resize: none;
  background: var(--modal-input-bckrd);
}


.letter textarea:hover {
  background: #EAEAEA;
}


.letter textarea:focus {
  background: transparent;
}


.user-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.close {
  position: absolute;
  background: var(--special-yellow);
  opacity: 0.5;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}


.close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 18px;
  left: 18px;
  background: url(../img/close_cross.svg);
  opacity: 0.7;
}



.close:hover {
  background: var(--special-yellow-dark);
  opacity: 1;
}


.close:active {
  opacity: 0.3;
}


.modal-map {
  width: 960px;
  height: 572px;
  filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.15));
}


.map {
  margin: 0;
  padding: 0;
}
